/* basic styling */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    background: #003554;
    color: #fff;
}

.whitespace {
    width: 100%;
    height: 100px;
}

@media(max-width: 768px) {
    .whitespace {
        display: none;
    }
}


/* typewriter effect----------- */


/* .line {
    width: 24em;
    top: 50%;
    margin: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter {
    animation: typewriter 4s steps(40) 0.5s 1 normal both, blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 12em;
    }
}

@media(max-width: 768px) {
    @keyframes typewriter {
        from {
            width: 0;
        }
        to {
            width: 12em;
        }
    }
}

@keyframes blinkTextCussor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
} */


/* navigation------------------ */

nav {
    width: 100%;
    background: #003554;
    height: 80px;
    position: fixed;
    z-index: 1;
}

nav #brand {
    float: left;
    display: block;
    margin-left: 82px;
    line-height: 80px;
    font-weight: bold;
}

nav #brand a {
    color: #fff;
    transition: all 0.3s ease-out;
}

nav #brand a:hover {
    text-decoration: none;
}

nav #menu {
    float: left;
    right: 80px;
    position: fixed;
}

nav #menu li {
    padding-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-weight: 300;
    line-height: 80px;
    position: relative;
    transition: all 0.3s ease-out;
}

nav #menu li span {
    font-weight: 700;
}

nav #menu li a {
    color: #fff;
}

nav #menu li a:hover {
    text-decoration: none;
    color: #E49273;
    transition: 0.27s ease-in-out;
}

#hom1::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #3b5998;
}

#hom2::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #fcaf45;
}

#hom3::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #55acee;
}

#hom4::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #c4302b;
}

#toggle {
    position: absolute;
    right: 30px;
    top: 20px;
    font-weight: 300;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

.close-btn {
    position: absolute;
    right: 16px;
    font-weight: 300;
    z-index: 2;
    cursor: pointer;
    top: -2px;
    line-height: 80px;
}

#resize {
    z-index: 1;
    top: 0px;
    position: fixed;
    background: #002032;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}

#resize #menu {
    height: 90px;
    position: absolute;
    left: 45%;
    transform: translateX(-40%);
    text-align: center;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
    margin-top: 140px;
}

#resize #menu li a {
    color: #fff;
}

#resize #menu li a:hover {
    text-decoration: none;
}

#resize.active {
    visibility: visible;
    opacity: 1;
}

p a {
    color: white;
}

p a:hover {
    text-decoration: none;
    color: #E49273;
    transition: .27s ease-in-out;
}

@media(max-width: 768px) {
    #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
        margin-right: 4px;
    }
    nav #brand {
        margin-left: 24px;
    }
    #menu a {
        font-size: 20px;
        font-weight: 300;
    }
    #resize li span {
        font-weight: bolder;
    }
    nav #menu {
        display: none;
    }
}

@media (min-width: 768px) {
    #resize {
        visibility: hidden !important;
    }
}


/* hero section -------------- */

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-weight: lighter;
    text-align: center;
    letter-spacing: -2px;
    line-height: 58px;
}

@media(max-width: 768px) {
    .header h1 {
        font-size: 30px;
    }
}


/*scroll down icon anime ----- */


/* projects section ----------*/

.containerproj {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.item1 {
    display: grid;
    color: white;
}

.item2 {
    display: grid;
    color: white;
}

.item3 {
    display: grid;
    color: white;
}

.card {
    background: #f5f5f5;
    margin: 5px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.84), 0 1px 5px 0 rgba(0, 0, 0, 0.9), 0 3px 1px -2px rgba(0, 0, 0, 0.9);
    transition: .35s;
    box-sizing: border-box;
}


/* .card:hover {
    transform: translateY(-5px);
    box-sizing: border-box;
    transition: .35s;
    box-shadow: 0 2px 2px rgba(41, 47, 56, 0.1), 0 4px 4px rgba(41, 47, 56, 0.1), 0 8px 8px rgba(41, 47, 56, 0.1), 0 16px 16px rgba(41, 47, 56, 0.1), 0 32px 32px rgba(41, 47, 56, 0.1);
    background: #fdfdfd;
} */

.card h2 {
    text-align: center;
    text-transform: lowercase;
    padding: 5px;
    margin: 5px;
}

.card h2 a {
    text-decoration: none;
    font-weight: bold;
    color: #439A86;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: inherit;
}

#cardp1 {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 120%;
    font-family: inherit;
    color: #E49273;
}

#cardp2 {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 120%;
    font-family: inherit;
    color: #E49273;
}

#cardp3 {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 120%;
    font-family: inherit;
    color: #E49273;
}

.card ul {
    color: black;
    list-style: none;
}

.card ul li {
    display: block;
    color: #4D685A;
}

@media(max-width: 768px) {
    .containerproj {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .card ul li {
        display: inline-block;
        left: 105px;
        position: relative;
        color: #4D685A;
    }
}

@media(max-width: 414px) {
    .card ul li {
        display: inline-block;
        left: 0;
    }
}


/* footer section ----------- */

.footer {
    position: relative;
}

.collab {
    text-align: right;
}

.collab p {
    font-weight: lighter !important;
    margin-bottom: 20px;
}

.hr {
    background: rgba(255, 255, 255, 0.3);
    height: 1px;
}

.info h4 {
    font-size: 18px;
    font-weight: lighter;
}

.info p {
    color: #439A86;
    font-size: lighter;
}

.info li {
    font-weight: lighter;
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
}

.tags {
    margin-left: 17px;
    margin-top: 50px;
}

.tag1 {
    font-size: 30px;
    margin-top: -30px;
    margin-bottom: 20px;
}

.tag {
    display: inline-block;
    margin-right: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    font-size: 20px;
    border: 2px solid #f0db4f;
    margin-top: -20px;
}

.tag2 {
    display: inline-block;
    margin-right: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    font-size: 20px;
    border: 2px solid #F16529;
    margin-top: -20px;
}

.tag3 {
    display: inline-block;
    margin-right: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    font-size: 20px;
    border: 2px solid #29A9DF;
    margin-top: -20px;
}

.tag4 {
    display: inline-block;
    margin-right: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    font-size: 20px;
    border: 2px solid black;
    margin-top: -20px;
}

.tag5 {
    display: inline-block;
    margin-right: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    font-size: 20px;
    border: 2px solid #01FFF5;
    margin-top: -20px;
}

@media(max-width: 500px) {
    .tag5 {
        margin-right: 5px;
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 3px;
        font-size: 20px;
        border: 2px solid #01FFF5;
        margin-top: 20px;
    }
}

#personal h4 a {
    color: #E49273;
    text-decoration: none;
}

#address h4 {
    color: #A8D0DB;
}

#address h4 a {
    text-decoration: none;
    color: #E49273;
}

#media,
#address {
    text-align: center;
}

#media ul {
    list-style: none;
}

#media ul li a {
    display: block;
    position: relative;
    left: -33px;
    text-decoration: none;
    color: #A8D0DB;
}

@media(max-width: 768px) {
    .collab,
    #personal,
    #media,
    #address {
        text-align: center;
    }
    #media ul li a {
        position: relative;
        left: -33px;
        text-decoration: none;
        color: #A8D0DB;
    }
}


/* work page -- - - - - - - - - */

.hero-content {
    margin-left: 0%;
}

.hero-content p {
    font-weight: 300;
    line-height: 36px;
    color: #D3D0CB;
}

.hero-content h6 {
    text-align: left;
}

@media(max-width: 768px) {
    .hero-content {
        padding-top: 50px;
        width: 96%;
        margin: 0 auto;
    }
}


/* about page ---------------*/

.about {
    height: 500px;
    margin-top: 120px;
}

.image {
    background: url(https://picsum.photos/id/593/536/354) no-repeat;
    background-size: cover;
}


/* contact form ----------- -*/


/* project page */